page-authentification {
    font-family: 'Lato', sans-serif;
    .tt{background-image: url("../assets/imgs/background.jpg");}
    .btn{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    ::placeholder{color: #2ec95c!important;}
}
