<ion-content padding class="tt custom-form" >
  <ion-row>
      <ion-col style="text-align: center;font-weight: bold;font-size: 20px;
      color: #0f8141;">Bienvenue au JNP WORLD</ion-col>
  </ion-row>
  <ion-row class="logo-row">
      <ion-col></ion-col>
      <ion-col >
        <img src="assets/imgs/logo_akad.png" width="200" />
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
        <ion-col *ngIf="!check" style="text-align: center;font-weight: bold;color:red;">Nom d'utilisateur ou mot de passe incorrect</ion-col>
    </ion-row>
    <div class="login-box">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item style="margin-bottom: 25px;border-radius: 5px;background-color: transparent;border-bottom: 1px solid white;font-size: 19px;color: black">
                  <ion-input [(ngModel)] = "user" placeholder="Nom d'utilisateur" type="text"></ion-input>
              </ion-item>
              <ion-item style="margin-bottom: 25px;border-radius: 5px;background-color: transparent;border-bottom: 1px solid white;font-size: 19px;color: black">
                  <ion-input [(ngModel)] = "password" placeholder="Mot de passe" type="tel"  style="-webkit-text-security:disc;"></ion-input>
              </ion-item>
  
                  <button ion-button block style="border-radius: 5px;font-weight: bold;" (click)="login()">Se connecter</button>
            </ion-list>
          </ion-col>
        </ion-row>
    </div>
</ion-content>
