<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Détail TV</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
    <ion-card-content>
      <h1  *ngIf="type == 'TV'">Information sur le TV</h1>
      <p  *ngIf="type == 'TV'"><strong>Nom du client : </strong>{{client}} </p>
      <p  *ngIf="type == 'TV'"><strong>Numéro de serie : </strong>{{num_serie}}</p>
      <p><strong>montant:</strong> {{MontantTV}}</p>
      <p style="display: none;"><strong>state:</strong> {{state}}</p>
      <button ion-button block style="border-radius: 5px;font-weight: bold;" (click)="annuleTV(num_serie)" *ngIf="state != 'cancel'">Annuler Le ticket</button>
    </ion-card-content>
</ion-content>
