page-first {
    img{
        position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:50%;
    transform:translateY(-50%);
      }
      .myphoto{background-image: url("/assets/imgs/background.jpg");}
}
