<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Accueil</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
    <ion-card-content>
        <ion-card id="montantCarte">
            <ion-grid>
                <ion-row>
                    <ion-col  style="text-align: center;color: darkgreen" class="solde_carte">Total : {{montantTranscations}}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
      <ion-list>
        <ion-item style="font-weight: bold">
              <ion-label *ngIf="type =='TV'" style="width: 35%;flex: initial;" >Numéro de serie</ion-label>
              <ion-label style="flex: initial;width: 18%;">Montant</ion-label>
              <ion-label style="flex: initial;width: 35%;">Date d'enregistrement</ion-label>
        </ion-item>
        <ion-item *ngFor="let p of listeTV" (click)="goToPage(p.id,p.numero_serie,p.montant,p.state)" style="cursor: pointer;" [ngClass]="(p.state== 'cancel') ? 'annuler' : 'activer'" >
            <ion-label *ngIf="type =='TV'">{{p.numero_serie}}</ion-label>
            <ion-label style="flex: initial;width: 20%;"><p>{{p.montant}}</p></ion-label>
            <ion-label>{{p.date}}</ion-label>
            <!--<button ion-button clear item-end>détail</button>-->
        </ion-item>
      </ion-list>
    </ion-card-content>
</ion-content>
