<ion-header>
    <ion-navbar text-center color='primary'>
      <ion-title>Consultation</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="content">
      <ion-card-content>
          <ion-list>
              <ion-item  (click)="goTopage('TV')">
                  <button ion-button full  class="button_home">Ventes par TV</button>
              </ion-item>
              <ion-item  (click)="goTopage('JNP')">
                  <button ion-button full  class="button_home">Ventes par JNP PASS</button>
              </ion-item>
              <ion-item  (click)="goTopage('MOMO')">
                  <button ion-button full  class="button_home">Ventes par MOMO PAYE</button>
              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-content>
  