<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Détail {{header_name}}</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
    <ion-card-content>
      <h1 *ngIf="header_name != 'MOMO'">Information sur le TV</h1>
      <p *ngIf="header_name != 'MOMO'"><strong>Nom du client : </strong>{{client}} </p>
      <p *ngIf="header_name != 'MOMO'"><strong>Numéro de serie : </strong>{{num_serie}}</p>
      <p *ngIf="header_name != 'MOMO'"><strong>montant:</strong> {{MontantTV}}</p>
      <p style="display: none;"><strong>montant:</strong> {{header_name}}</p>
      
      <ion-item style="margin-top: 10px;"  *ngIf="header_name != 'TV'">
        <ion-label color="primary" stacked>Montant</ion-label>
        <ion-input [(ngModel)] = "MontantVente" type="number" placeholder="Montant" id="montant" [readonly]="only_read"></ion-input>
      </ion-item>
      <button ion-button block style="border-radius: 5px;font-weight: bold;" (click)="Save()">Enregistrer La vente</button>
    </ion-card-content>
</ion-content>
