<ion-header>
    <ion-navbar text-center color='primary'>
      <ion-title>Accueil</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="content">
      <ion-card-content>
          <ion-list>
              <ion-item>
                <ion-label>Date</ion-label>
                <ion-datetime display-format="MMM DD, YYYY" [(ngModel)] = "date_paiment" ></ion-datetime>
              </ion-item>
              <button ion-button block style="border-radius: 5px;font-weight: bold;" (click)="chercher()">Chercher</button>
          </ion-list>
          
      <ion-item  style="cursor: pointer;" *ngFor="let p of liste" >
          <ion-label style="padding: 10px 5px;margin:0px;"><p style="color: black;font-weight: bold;"  [ngClass]="(p.type== 'Total') ? 'annuler' : 'activer'">{{p.type}}</p></ion-label>
          <ion-label style="padding: 10px 5px;margin:0px;"><p style="color: black"  [ngClass]="(p.type== 'Total') ? 'annuler' : 'activer'">{{p.montant}} CFA</p></ion-label>
      </ion-item>
      </ion-card-content>
  </ion-content>
  